/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html,.stylelint{line-height:1}body,.stylelint{line-height:inherit}ol,ul,.stylelint{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/* Base Styles */
/*
  Hint: these tend to be
  1. element selectors
  2. concerned with color and typography
  3. basic element presenation
*/

html{
  font-size: 1.25em;/* 20 / 16 = 1.25 */
  line-height: 1.2em;/* 24 / 20 = 1.2 */
}

body{
  padding-right: 1.2em;/* 24 / 20 = 1.2 */
  padding-left: 1.2em;/* 24 / 20 = 1.2 */
  padding-top: 4em;/*  80 / 20 = 3 */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding-bottom: 1.2em; /* 24 / 20 = 1.2 */
}

ul {
  padding-bottom: 0.6em; /* 12 / 20 = 0.6 */
  list-style-type: disc;
}

/* Responsive Media */
img,
video,
audio {
  display: block;
  max-width: 100%;
}

/* Layout Styles */
/*
  Hint: these tend to be
  1. IDs; but also classes, sometimes
  2. concerned with layout and spatial
     relationships
*/

#navigation {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

#navigation li {
  list-style-type: none;
  float: left;
  width: 33.3333333333%;
}

#navigation a {
  display: block;
  width: 100%;
  padding-top: 0.6em; /* 12 / 20 = 0.6 */
  padding-bottom: 0.6em; /* 12 / 20 = 0.6 */
  text-align: center;
  color: white;
  background-color: black;
}
/* Modular Styles */
/*
  Repeating style patterns.
  Hint: these tend to be:
  1. classes and relationship selectors
  2. concerned with adjustments to base styles,
      spacing, color, etc. etc.
*/

/* State Styles */
/*
  States of the browser and user access
  conditions.
  Hint: these tend to be:
  1. Driven by media queries
  2. Influenced by JavaScript
  3. Organized by Base, Layout, Module, State
*/